body {
  background-color: lightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#inputs {
  width: 100%;
}
